@import url(assets/css/animation/scale.css);
@import url(assets/css/animation/slide.css);
@import url(assets/css/font/font.css);

.text-logo {
  font-family: 'Acme', cursive;
  color: #0f4c81;
}

.gradient-text {
  background-clip: text !important;
  -webkit-background-clip: text !important;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient-underline {
  position: relative;
  display: table;
  margin: auto;
}

.gradient-underline::after {
  background: linear-gradient(60deg, #0f4c81 0%, orange 100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  /* we show from 0 to 7px then a gap until 9px (2px gap)*/
  -webkit-mask: repeating-linear-gradient(to right, #fff 0 25px, transparent 0 30px);
  mask: repeating-linear-gradient(to right, #fff 0 25px, transparent 0 30px);
}

.container {
  max-width: 1028px;
}

.scroll-down {
  animation: scroll-down 1.5s infinite;
}

.scroll-down span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px auto;
  background-color: #000;
  opacity: 0.3;
  animation: scroll-bounce 1.5s infinite;
}

.scroll-down span:nth-child(2) {
  animation-delay: 0.2s;
}

.scroll-down span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes scroll-bounce {
  0%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
}

@keyframes scroll-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid white;
  transform: rotate(45deg);
  background-color: yellow;
}

.wallpaper {
  transition-property: color;
  transition-delay: 0.2s;
  transition-timing-function: linear;
}
